body {
  font-family: sans-serif;
}

input,button {
  padding: 0.5rem;
}

.login-container {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

form {
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 2rem;
  margin-bottom: 0;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

form > * {
  margin: 1rem;
}

.horizontal {
  display: flex;
}

.horizontal > * {
  flex: 1;
  margin: 1rem;
  border: solid 1px dodgerBlue;
  padding: 1rem;
}

ul {
  padding: 0;
}

li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

li > * {
  margin-bottom: 0.5rem;
}

.products > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.product-pic {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.pop-button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -38px);
  border-radius: 0;
  /* -ms-transform: translate(0, -50%); */
  /* text-align: center; */
}

.product-pic-container {
  position: relative;
  text-align: center;
}

.product-pic-container:hover .product-pic {
  opacity: 0.5;
}

.product-pic-container:hover .pop-button {
  opacity: 1;
}
